<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/lib/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/toastr.js/toastr.min.css" rel="stylesheet" />
    <link href="~/lib/keyboard/keyboard.css" rel="stylesheet" />

    <!--Load Kendo styles from the Kendo CDN service-->
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.3.913/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.3.913/styles/kendo.default.min.css" />



</head>

<body>
    <nav class="container  navbar navbar-light bg-light">
        <a class="navbar-brand" asp-area="">Bootstrap</a>
    </nav>
    <div class="container card-body" style="margin-top:71px">
        @RenderBody()
    </div>




    <script src="~/lib/twitter-bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="~/lib/keyboard/keyboard.js"></script>


    <!--Load the required libraries - jQuery, Kendo, Babel and Vue-->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2017.3.913/js/kendo.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser-polyfill.min.js"></script>



    @RenderSection("Scripts", required: false)
</body>
</html>
